<div class="container mt-4">
  <h1>Lists of movie 📽</h1>
  <div class="d-flex justify-content-between"><% @lists.each do |list| %>
    <div class="card bg-dark me-3 shadow mb-5 bg-body rounded">
      <img src="https://media.istockphoto.com/id/1320169431/photo/capybara-showing-his-teeth.jpg?b=1&s=170667a&w=0&k=20&c=Z9bc2wM5tBzObCt2rtXiaLZMJm82ACi_7AJ0bZmviyc=" class="card-img" alt="...">
      <div class="card-img-overlay d-flex justify-content-center align-items-center">
        <h3><%= link_to list.name, list_path(list), class: 'text-decoration-none text-white' %></h3>
      </div>
    </div>
  <% end %></div>

  <%= link_to "Create a movie list", new_list_path, class: "btn btn-primary text-white mt-4" %>
</div>
